// Background Color

html{
    background-color:#FAFAFA;
}

// Navbar Stylings


.nav-wrapper{
    background-color: white;
    color: black;
    box-shadow: none!important;
}

nav{
    min-height: 120px;
    box-shadow: none!important;
}

.material-icons{
    color: black;
}

.nav-link{
    color: black;
    margin-top: 10px;
    margin-left: -60%;
    padding: 20px;
    font-family: Open Sans;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0) !important;
}

.mobile-nav-link{
    font-family: Open Sans;
    color: black;
    font-size: 12px;
    letter-spacing: 1px;
}

#prog-logo{
    height: auto;
    width: 125px;
    margin-left: 62%;
    margin-top: 15%;
  }

//  Flo Gif

#flo-gif{
    margin-top: -10%;
    z-index: -5;
    height: 120vh;
    width: 100%;
}

#mobile-flo{
    display: none;
}

// Home Image Cards

.card-img{
    height: 300px;
    width: 300px;
    margin-bottom: 5%;
}

.home-img-card-col{
    margin-right: -5%;
    padding: 0;
}

.home-row{
    margin-left: 12%!important;
    margin-top: 5%!important;
    margin-bottom: -8%!important;

}

#mobile-container-div{
    display: none;
}

// Card Hover Effects

.home-img-card-col:hover .overlay{
    opacity: 0.7;
}

.overlay{
    position: absolute;
    background-color: black;
    margin-top: -25.3%;
    height: 300px;
    width: 300px;
    opacity: 0;
    color: white;
    text-align: center;
    padding: 130px;
}

.hover-text{
    font-size: 20px;
    width: 150px;
    margin-left: -120%;
}

// Bottom Text Links

#icon-container{
    text-align: right;
    margin-right: 28%;
}

#website-plug{
    color: orange;
    margin-left: 25%;
    margin-top: 0%;
}

#container-div{
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: -5%;
}


// Mobile 

@media (max-width: 375px) {

#prog-logo{
    margin-left: 100%;
    height: auto;
    width: 180px;
    }
nav{
    background-color: white;
    min-height: 122px;
}

#flo-gif{
    display:none;
}

#mobile-flo{
    display: block;
    height: 1268px;
    width: 812px;
    margin-top: 25%;
}

html{
    background-color: white;
}

#container-div{
    display: none;
}

#mobile-container-div{
    display: block;
    width: 850px;
}

.mobile-home-img-card-col{
    padding: 100px;
    width: 175px;
    float: left;
}

.mobile-card-img{
    height: 275px;
    width: 275px;
}

.img-container{
    width: 175px;
    background-color: red;
    margin-left: 15%;
    padding-right: 10px;
}


}