html {
  background-color: #FAFAFA;
}

strong {
  font-weight: 700 !important;
}

.material-icons {
  color: black;
}

.nav-wrapper {
  background-color: white;
  color: black;
  box-shadow: none !important;
}

nav {
  min-height: 120px;
  box-shadow: none !important;
}

.nav-link {
  color: black;
  margin-top: 10px;
  margin-left: -60%;
  padding: 20px;
  font-weight: bolder !important;
  font-family: Open Sans;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0) !important;
}

.mobile-nav-link {
  font-family: Open Sans;
  color: black;
  font-size: 12px;
  letter-spacing: 1px;
}

.home-sidebar {
  width: 80%;
}

.home-links {
  color: black !important;
  font-size: 35px !important;
  margin-right: 100% !important;
  margin-top: 5%;
  padding: 0 10% !important;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 1px;
}

.home-list {
  height: 90px;
}

.sidenav-overlay {
  height: 100%;
}

#fs-prog-logo {
  height: auto;
  width: 125px;
  margin-left: 62%;
  margin-top: 15%;
}

#flo-gif {
  margin-top: -10%;
  z-index: -5;
  height: 120vh;
  width: 100%;
}

#mobile-flo {
  display: none;
}

.card-img {
  height: 300px;
  width: 300px;
  margin-bottom: 5%;
}

.home-img-card-col {
  margin-right: -5%;
  padding: 0;
}

.home-row {
  margin-left: 12% !important;
  margin-top: 5% !important;
  margin-bottom: -8% !important;
}

#mobile-container-div {
  display: none;
}

.home-img-card-col:hover .overlay {
  opacity: 0.7;
}

.overlay {
  position: absolute;
  background-color: black;
  margin-top: -25.3%;
  height: 300px;
  width: 300px;
  opacity: 0;
  color: white;
  text-align: center;
  padding: 130px;
}

.hover-text {
  font-size: 20px;
  width: 150px;
  margin-left: -120%;
}

#icon-container {
  text-align: right;
  margin-right: 28%;
}

#website-plug {
  color: orange;
  margin-left: 25%;
  margin-top: 0%;
}

#container-div {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: -5%;
}

#mobile-footer {
  display: none;
}

.header-column {
  margin-top: 15%;
  margin-left: 0% !important;
}

.header-text {
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 45px;
}

.text-column {
  margin-top: 15%;
}

.content-text {
  font-family: Open Sans;
  font-weight: 300 !important;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 27px;
}

.content-row {
  margin-top: -3%;
}

.subpage-icon {
  display: none;
}

.bulleted-list::before {
  content: "+";
  margin-right: 6px;
}

#contact-text {
  margin-left: 10%;
}

@media (max-width: 415px) {
  #fs-prog-logo {
    margin-left: 80%;
    margin-top: 13%;
    height: auto;
    width: 300px;
  }

  .subpage-logo {
    height: auto !important;
    width: 125px !important;
    margin-left: 80% !important;
    margin-top: 13% !important;
  }

  nav {
    background-color: white;
  }

  .nav-wrapper {
    background-color: white;
    height: 122px !important;
  }

  .home-nav {
    background-color: white;
    height: 290px !important;
  }

  #home-hamburger {
    font-size: 80px;
    margin-left: 40%;
    margin-top: 90%;
  }

  #flo-gif {
    display: none;
  }

  #mobile-flo {
    display: block;
    height: 1968px;
    width: 892px;
    margin-top: 40%;
  }

  #container-div {
    display: none;
  }

  #mobile-container-div {
    display: block;
    width: 850px;
  }

  .mobile-home-img-card-col {
    padding: 100px;
    width: 175px;
    float: left;
  }

  .mobile-card-img {
    height: 305px;
    width: 305px;
  }

  .img-container {
    width: 175px;
    margin-left: 30%;
    padding-right: 100px;
  }

  #firefighter-card, #writing-card {
    position: absolute;
    left: 480px;
  }

  #mobile-footer {
    display: block;
    height: 122px;
    width: 900px;
  }

  #website-plug {
    width: 900px;
    text-align: left;
    margin-left: 28%;
  }

  .blank-column {
    display: none;
  }

  .subpage-hamburger {
    color: black;
    font-size: 40px !important;
    margin-top: 35%;
    margin-left: 5%;
  }

  .header-column {
    margin-top: 20%;
  }

  .header-text {
    text-align: center;
  }

  .content-text {
    margin-top: -20%;
    margin-left: 2%;
  }

  .text-column {
    width: 85%;
  }

  #contact-text {
    margin-left: 5%;
  }

  .subpage-icon {
    display: block;
    text-align: right;
  }

  .footer-links-row {
    display: none;
  }
}
@media (min-width: 1410px) {
  .overlay {
    margin-top: -22.5%;
  }
}

/*# sourceMappingURL=style.css.map */
