// Background Color

html{
    background-color:#FAFAFA;
}

// Navbar Stylings

.nav-wrapper{
    background-color: white;
    color: black;
    box-shadow: none!important;
}

nav{
    min-height: 120px;
}

.nav-link{
    color: black;
    font-size: 12pt;
    margin-top: 10px;
    padding: 20px;
}

#prog-logo{
    height: auto;
    width: 125px;
    margin-left: 62%;
    margin-top: 15%;
  }

//  Flo Gif
#flo-gif{
    position: absolute;
    margin-top: -10%;
    z-index: -5;
    height: 120vh;
    width: 100%;
}